body {
    background-color: hsl(185, 75%, 39%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

main {
    background-color: white;
    border-radius: 10px;
    width: 330px;
    max-width: 1024px;
    gap: 25px;
    margin: 20px;
    padding: 30px 0 30px 0;
}

img {
    text-align: center;
    border-radius: 50%;
    width: 100px;
    display: block;
    margin: 0 auto 20px auto;
}

.age, .city {
    color: hsl(227, 10%, 46%);
    margin: 20px 0 20px 0;
    padding-bottom: 10px;
}

hr {
  width: 100%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 20px;
    margin-top: 25px;
}

.info div:first-child {
    font-weight: 700;
}

.info div:last-child {
    color: hsl(227, 10%, 46%);
}